.row{
    margin-left: 25px;
}
.movies{
    display: flex;
    padding: 20px;
    overflow-x:scroll;
    overflow-y: hidden;
}
.movies::-webkit-scrollbar{
    display: none;
}
.movie{
    width: 100%;
    max-width: 250px;
    margin-left: 20px;
}
.movie:hover{
    transform:scale(1.05);
    transition: transform 450ms;
}